/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Custom vars
   ========================================================================== */

// colors
@black: #000;
@white: #fff;
@smoky-brown: #60321c;
@smoky-dark-orange: #b65c1f;
@smoky-light-orange: #df7741;
@smoky-blue: #0054a6;
@smoky-green: #82ca9c;
@smoky-tan: #e1c8a2;
@smoky-light-tan: #f1e5d3;
@smoky-red: #ed162b;
// computed
@smoky-darker-brown: darken(@smoky-brown, 10);

// fonts
@smoky-font-sans: "Open Sans", Helvetica, Arial, sans-serif;
@smoky-font-headings: "Belleza", sans-serif;
@smoky-font-serif: Georgia, serif;

/* ==========================================================================
   Bootstrap overrides
   ========================================================================== */

// colors
@body-bg: @smoky-tan;
@text-color: @black;
@link-color: @smoky-blue;
@link-hover-color: @smoky-light-orange;
@brand-primary: @smoky-dark-orange;
@brand-danger: @smoky-red;
@headings-color: @smoky-brown;

// grid
@grid-float-breakpoint: @screen-sm-max;

// fonts
@font-family-sans-serif: @smoky-font-sans;
@font-family-base: @font-family-sans-serif;
@headings-font-family: @smoky-font-headings;
@headings-font-weight: normal;
@font-size-h1: 3em;

// navbar
@navbar-border-radius: 0;
@navbar-margin-bottom: 0;
@navbar-inverse-bg: @black;

// carousel
@carousel-control-color: @smoky-darker-brown;
@carousel-indicator-active-bg: @smoky-darker-brown;
@carousel-indicator-border-color: @smoky-darker-brown;

// tabs
@nav-tabs-border-color: @smoky-darker-brown;
@nav-tabs-link-hover-border-color: @smoky-darker-brown;
@nav-tabs-active-link-hover-bg: @smoky-brown;
@nav-tabs-active-link-hover-color: @white;
@nav-tabs-active-link-hover-border-color: @smoky-darker-brown;
// @nav-link-hover-bg: @white;
@nav-open-link-hover-color: @white;

/* ==========================================================================
   Base
   ========================================================================== */

img, .wp-caption {
   max-width: 100%;
}
.text-center, .center-block {
   .img-responsive {
      margin-left: auto;
      margin-right: auto;
   }
}

body {
   background-image: url(../img/bg.jpg);
}



/* ==========================================================================
   Header
   ========================================================================== */

.site-header {
   background: url(../img/head-bg.jpg) repeat center top;
}
.stripe {
   background-color: @black;
   background-color: fade(@black, 60);
   border-bottom: solid 2px fade(@smoky-light-orange, 80);
   color: @smoky-green;
   font-size: 0.9em;
   padding: 0.5em 0;
   a {
      color: @smoky-green;
   }
   .list-inline {
      margin-bottom: 0;
   }
}
.banner {
   padding: 1em 0;
   .nav-container {
      .list-inline > li > a {
         font-size: 1.2em;
         text-transform: uppercase;
         color: @white;
      }
   }
}

.navbar-inverse {
   border: none;
}


/* ==========================================================================
   Content
   ========================================================================== */

.content {

}


// Front page carousel
#carousel-front-page {
   margin-bottom: 2em;
}
.carousel-indicators {
   bottom: -30px;
}


/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

// rental archive
.archive .type-rental {
   margin-bottom: 1em;
}

// rental single
.booking-button {
   margin: 1em 0;
}
.rental-icons {
   margin: 1em 0;
   img {
      margin-right: 0.5em;
   }
}
.photo-gallery-image {
   padding: 0.25em;
}


/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {
   padding-top: 1em; 

   .widget {
      ul {
         list-style: none;
         margin: 0 0 1em;
         padding: 0;
         ul {
            margin: 0 0 0 1em;
         }
      }
   }
}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time {
   display: block;
   margin: 1em 0;
   font-size: 0.8em;
   font-style: italic;
}
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
   margin: 2em 0 1em;
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) {
   // footer
   .footer-mid { text-align: center; }
   .credit { text-align: right; }
}

@media (min-width: @screen-md-min) {
   // header
   .nav-container-stripe-secondary {
      text-align: right;
   }
   .banner {
      .nav-container {
         margin-top: 2em;
         text-align: right;
         .dropdown-menu {
            text-align: left;
         }
      }
   }
}

@media (min-width: @screen-lg-min) {
   // header
   .banner {
      .nav-container {
         margin-top: 2.6em;
      }
   }
}
